button{
  color: gainsboro;
  width: 60px;
  height: 30px;
}

button:hover{
  transition: 2s;
  background-color: lightgoldenrodyellow;
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotate(40deg);
  transform: rotateX(150deg);
  transform: rotateZ(90deg);
}

p#hidden{
  display: none;
}

h2{
  display: none;
}


button {
  width: 30px;
  height: 20px;
  background: rgb(119, 246, 255);
  transition: width  linear 0.5s;
}
button:hover{
  width: 40px;
  background: rgb(129, 129, 236);
  position: relative;
  top: -6px;
}
button#hidden1{
  display:none;
}
button#hidden2{
  display:none;
}
button#hidden3{
  display:none;
}
img#hiddenimage{
  display:none;
  transform: translate(50px, 100px);
}
img#hiddenimage:hover{
  transform: rotate(50deg);
}

img#hiddenimage2{
  display:none;
  transition: width 2s, height 2s, transform 2s;
}
img#hiddenimage2:hover{
  transform: rotateY(150deg);
}

p#hiddentext{
  display:none;

#turn{
  transform: rotateY(45deg);
}

button:hover {
  border: 10px solid tomato;
}

button.number{
  border: 5px solid black;
}


h1 {
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;
}

h1:hover {
  transform: rotateY(360deg);
}

#button7 {
  position: absolute;
  bottom: 50px;
  left: 40px;
  
}

