button{
  width: 60px;
  height: 30px;
}

button:hover{
  transition: 2s;
  background-color: lightgoldenrodyellow;
  width: 100px;
  height: 100px;
  position: relative;
  transform: rotate(40deg);
  transform: rotateX(150deg);
  transform: rotateZ(90deg);
}

p#hidden{
  display: none;
}
